<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>Exercice 1</title>
  </head>
  <body ng-app>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js'></script>
    <!--Déclaration de la variable number-->
    <p ng-scope="number">{{number}}</p>
    <!--sur la directive ng-click du bouton -, number est égale à number-1-->
    <button ng-click="number = number-1" type="button" name="minus">-</button>
    <!--sur la directive ng-click du bouton +, number est égale à number+1-->
    <button ng-click="number = number+1" type="button" name="plus">+</button>
  </body>
</html>
